.bar{
    border-top: 4px solid lightskyblue;
    padding: 0 60px;
    border-bottom: 4px solid lightskyblue;
}
.navrow{
    -webkit-box-align: center;
    display: flex;
    justify-content: space-between;
    padding: 2px 0 2px;
}
.nav{
    display: inline-block;
    font-family: cursive;
    font-size: 30px;
    line-height: 1rem;
    font-weight: 500;
}
.navrowsm{
    -webkit-box-align: center;
    display: flex;
    justify-content: space-between;
    padding: 2px 0 2px;
}
.navsm{
    display: inline-block;
    font-family: cursive;
    font-size: 18px;
    line-height: 1rem;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: darkseagreen;
}
body{
    background-color: palegoldenrod;
}
h1{
    font-family: cursive;
    border: coral;
    border-style: dotted;
    text-align: center;
    color: coral;
}
.pier{
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    border-width:4px; border-style: solid; border-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
#vid{
    position: relative;
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    width: 400px;
}
.rightp{
    position: relative;
    z-index: -1;
    display: block;
    float: right;
    border-width:4px; border-style: solid; border-color: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
table{
    margin-left: auto;
    margin-right: auto;
    font-family: cursive;
    border-collapse: collapse;
    border: solid lightskyblue;
    border-width: medium;
    text-align: center;
}
caption{
    font-size: 20pt;
    color: lightcoral;
}